{% extends 'layouts/main.html' %}
{% block title %}Edit Artist{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form class="form" method="post" action="/artists/{{artist.id}}/edit">
      <h3 class="form-heading">Edit artist <em>{{ artist.name }}</em></h3>
      <div class="form-group">
        <label for="name">Name</label>
        {{ form.name(class_ = 'form-control', value = artist.name, autofocus = true) }}
      </div>
      <div class="form-group">
          <label>City & State</label>
          <div class="form-inline">
            <div class="form-group">
              {{ form.city(class_ = 'form-control', placeholder='City', value = artist.city, autofocus = true) }}
            </div>
            <div class="form-group">
              {{ form.state(class_ = 'form-control', placeholder='State', value = artist.state, autofocus = true) }}
            </div>
          </div>
      </div>
      <div class="form-group">
          <label for="phone">Phone</label>
          {{ form.phone(class_ = 'form-control', placeholder='xxx-xxx-xxxx', pattern='^\d{3}-?\d{3}-?\d{4}$', value = artist.phone, autofocus = true) }}
        </div>
        <div class="form-group">
          <label for="website">Website</label>
          {{ form.website(class_ = 'form-control', placeholder='http://', pattern='^https?://.+$', value = artist.website, autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="image_link">Image</label>
        {{ form.image_link(class_ = 'form-control', placeholder='http://', pattern='^https?://.+$', value = artist.image_link, autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="genres">Genres</label>
        <small>Ctrl+Click to select multiple</small>
        {{ form.genres(class_ = 'form-control', placeholder='Genres, separated by commas',  autofocus = true) }}
      </div>
      <div class="form-group">
          <label for="genres">Facebook Link</label>
          {{ form.facebook_link(class_ = 'form-control', placeholder='http://', pattern='^https?://.+$', value = artist.facebook_link,  autofocus = true) }}
        </div>
        <div class="form-group">
          <label>Are you looking for a venue?</label>
          {{ form.seeking_venue(class_ = 'form-control', checked=artist.seeking_venue,  autofocus = true) }}
        </div>
        <div class="form-group">
          <label>Comment</label>
          {% set f = form.seeking_description.process_data(artist.seeking_description) %}
          {{ form.seeking_description(class_ = 'form-control', autofocus = true)}}
        </div>
      <input type="submit" value="Edit Artist" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
  <script>
    var genre_options = document.getElementById('genres').children;
    selected_genres = {{ artist.genres|safe }};
    for (i = 0; i < genre_options.length; i++) {
        for(j=0; j <  selected_genres.length; j++){
            if(genre_options[i].getAttribute('value')==selected_genres[j]){
              genre_options[i].setAttribute('selected','selected');
            }
        }      
    }
    var state_options = document.getElementById('state').children;
    selected_state = "{{ artist.state }}";
    for (i = 0; i < state_options.length; i++) {
            if(state_options[i].getAttribute('value')==selected_state){
              state_options[i].setAttribute('selected','selected');
            }   
    }
  </script>
{% endblock %}